<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Epoint.Modules.Properties.Settings.EpointDMS_NEWConnectionString" connectionString="Data Source=ttd-qb.ddns.net,1448;Initial Catalog=EpointDMS_NEW;User ID=epoint" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
